extends base.pug

block scripts 
  
block style 
   style 
         include  ../public/css/style.css
block content 
    .registerd 
       h2 Registration Form
       
       p you have registered Successfully 